{:deps
 {org.clojure/clojure {:mvn/version "1.10.1"},
  nuid/exception
  {:git/url "https://github.com/nuid/exception.git",
   :sha "8a324bc64fda10154ab585247eeb463bae477a96"}},
 :aliases
 {:cljs {:extra-deps {thheller/shadow-cljs {:mvn/version "2.11.23"}}}},
 :paths ["src"]}
