{:deps
 {org.clojure/clojure {:mvn/version "1.10.1"},
  nuid/exception
  {:git/url "https://github.com/nuid/exception.git",
   :sha "eaacb5b053ac69eb045427ebc6795c6721a0ba3b"}},
 :aliases
 {:cljs
  {:extra-deps
   {org.clojure/clojurescript {:mvn/version "1.10.753"},
    thheller/shadow-cljs {:mvn/version "2.8.109"}}}},
 :paths ["src"]}
